extends ../includes/header

block title
  title Little Design Ninja | Profile
block content
  div.spacer
  section.favorite-table
    div.wrapper
      h2 Favorites
      table
        if user
          each video in user.favorites
            tr
              td
                a(href="/videos/#{video.id}") #{video.title}
              td= video.author
              td= video.duration
              td= x
      div.new-vids
        if videos.length > 0
          - for (var i = 0; i < 4; i++)
            img(src="")
            p #{videos[i].title}
            p #{videos[i].description}
      div.clear
  div.spacer
  include ../includes/foot
